[submodule "Lib_Common"]
	path = Lib_Common
	url = https://github.com/r-gal/Lib_Common
[submodule "Lib_Ethernet"]
	path = Lib_Ethernet
	url = https://github.com/r-gal/Lib_Ethernet
[submodule "Lib_Fat"]
	path = Lib_Fat
	url = https://github.com/r-gal/Lib_Fat
